<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Post</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      @font-face {
        font-family: "PoppinsBlack";
        src: url(Poppins/Poppins-ExtraBold.ttf);
      }

      @font-face {
        font-family: "Poppins";
        src: url(Poppinp/Poppins-Regular.ttf);
      }

      body {
        font-family: Poppins;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 80%;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .post-title {
        font-size: 2em;
        margin-bottom: 10px;
      }
      .post-time {
        color: #888;
        margin-bottom: 20px;
      }
      .post-content {
        font-size: 1.2em;
        line-height: 1.6;
        text-align: justify;
      }
      .back-button {
        display: inline-block;
        margin-top: 20px;
        padding: 5px 15px;
        background: linear-gradient(
          135deg,
          rgb(113, 183, 230),
          rgb(155, 89, 182)
        );
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.3s;
      }
      .back-button:hover {
        background: linear-gradient(
          35deg,
          rgb(113, 183, 230),
          rgb(155, 89, 182)
        );
      }

      .miniIcon {
        width: 22px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3><%= post.user %></h3>
      <a href="/" class="back-button"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 miniIcon"
        >
          <path
            fill-rule="evenodd"
            d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
        Back to Posts</a>
      <h1 class="post-title"><%= post.title %></h1>
      <p class="post-time">
        Posted on <%= post.date %> at <%= new
        Date(post.createdAt).toLocaleTimeString() %>
      </p>
      <div class="post-content"><%= post.content %></div>
    </div>
   
  </body>
</html>
